html
  head
    title MPs by Party
    style.
      body {
        max-width: 800px;
        margin: 45px auto;
      }
      h1, h2 {
        text-align: center;
        margin-bottom: 30px;
      }
      h2 {
        margin-top: 30px;
        text-decoration: underline;
      }
      table {
        max-width: 400px;
        margin: 0 auto;
      }
      th, td {
        width: 2000px;
        border: 2px solid black;
        padding: 5px;
      }

  body
    h1 MPs by Party

    h2 Displaying data with JavaScript from a REST API
    div(id="chart_div")

    h2 Displaying data with server side rendering
    table(id="data_table")
      thead
        tr
          th Party
          th Count
      tbody
        each party in parties
          tr
            td= party.partyName
            td= party.partyCount

    script(src="https://www.gstatic.com/charts/loader.js")
    script.

      // Get data from REST API and create chart
      fetch("http://localhost:8080/mps")
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(function() {
          drawChart(data);
        });
      })
      .catch(function(err) {
        console.log("Fetch Error: " + err);
      });

      // Draw chart
      function drawChart(data) {

        // Create the data table.
        let data_table = new google.visualization.DataTable();
        data_table.addColumn("string", "Party");
        data_table.addColumn("number", "Number of MPs");

        data_table.addRows(data.map(function(d) {
          return [d.partyName, d.partyCount];
        }));

        // Set chart options
        var options = {
          title: "MPs by party from: beta.parliament.uk/mps",
          chartArea: {
            top: 28,
            height: "60%"
          },
          width: 800,
          height: 400,
          legend: {
            position: "top"
          },
          hAxis: {
            title: "Parties"
          },
          vAxis: {
            title: "MPs"
          },
          orientation: "horizontal"
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(
          document.getElementById('chart_div')
        );
        chart.draw(data_table, options);

      }
